<?xml version='1.0' encoding='utf-8'?>
<widget id="com.MWA.toDoApp" version="1.0.0">
	<name>To-Do List</name>
	<description>
		A basic to do list app.
	</description>
	
	<icon src="images/icon.jpg" platform="android" width="180" height="180" />
	
	<author email="conor.hamilton@webelevate.ie">
	   Conor Hamilton
	</author>

	<preference name="phonegap-version" value="cli-6.5.0" />
	<preference name="orientation" value="portrait" />
	<preference name="permissions" value="none" />
</widget>
